webdriver.driver=appium
serenity.restart.browser.for.each=NEVER
webdriver.timeouts.implicitlywait=20000
webdriver.wait.for.timeout=20000
appium.autoGrantPermissions=true
appium.deviceOrientation=portrait
appium.captureScreenshots=true
serenity.take.screenshots=AFTER_EACH_STEP
serenity.logging=VERBOSE
feature.file.encoding=utf8
serenity.report.encoding=utf8
feature.file.language=es
appium.sessionName=Automation test session
appium.automationName=XCUITest
#
#Device capabilities
#
appium.deviceName=iPhone 13
appium.platformVersion=15.2
appium.udid=8EB27F61-055D-45C6-B1F0-5E2D6E10546B
appium.platformName=iOS
appium.hub=http://127.0.0.1:4723/wd/hub
appium.bundleId=com.uberall.uberall
appium.app=
#
#other capabilities
#
appium.noReset=false
appium.autoAcceptAlerts=true
appium.waitForQuiescence=false