#Generic Capabilities

webdriver.driver=appium
serenity.restart.browser.for.each=NEVER
appium.autoAcceptAlerts=true
appium.deviceOrientation=portrait
appium.captureScreenshots=true
serenity.take.screenshots=AFTER_EACH_STEP
appium.sessionName=Automation test session

#
#Device capabilities
#
appium.automationName=XCUITest
appium.platformName=iOS
appium.deviceName=iPhone 11 Pro
appium.platformVersion=14
appium.udid=0BB8091F-E452-4A8F-A2C6-728F63116633

appium.hub=http://127.0.0.1:4723/wd/hub
appium.bundleId=com.swaglabsmobileapp
appium.app=https://github.com/saucelabs/sample-app-mobile/releases/download/2.7.1/iOS.RealDevice.SauceLabs.Mobile.Sample.app.2.7.1.ipa
