#Generic Capabilities
webdriver.driver=appium
serenity.restart.browser.for.each=NEVER
autoWebview=true
autoWebviewTimeout=20000
ensureWebviewsHavePages=true
appium.autoGrantPermissions=true
appium.deviceOrientation=portrait
appium.captureScreenshots=true
serenity.take.screenshots=AFTER_EACH_STEP
appium.unicodeKeyboard= true
appium.resetKeyboard= true
appium.sessionName=Automation test session

#Android Capabilities
appium.deviceName=Samsung Galaxy S21
appium.platformVersion=11.0
appium.platformName=Android
appium.hub=https://BROWSERSTACK_USERNAME:BROWSERSTACK_ACCESS_KEY@hub-cloud.browserstack.com/wd/hub
appium.app=bs://cd62f14bd374f520308de2863ae8647dcb09c7ed
appium.appPackage=com.swaglabsmobileapp
appium.appActivity=com.swaglabsmobileapp.MainActivity